In [ ]:
'''
Python - Language - C++ -> A, b , c 
'''

In [3]:
### Datatype

'''
int , float, string, boolean, 
set, dictionary, list,


Number - -inf to inf, 1,2 3 -> 1.000
int - 1, 2,3 -1, 0, 1, 
float - 1.1 1.2 
complex 2+3j-> True and False
'''

x = 3 # variable = constant
y = 5  # variable = constant
z = x + y

In [5]:
i = int(input("Enter the value of i :"))
type(i)

int

In [3]:
str1 = "Sameer"
str2 = "Mohd"

str2+str1

'MohdSameer'

In [6]:
list1 = [1,2,3,"sameer", 20.234]

In [8]:
list1[3]

'sameer'

In [24]:
str1 = "Preetham"
        # 0,1,2,3,4,5,6,7,8,
        #  -8           -3,-2,-1
        
# immutable
# cannot be changed after assiging

str2 = "L"+str1[1:]
print(str2)


# slicing
print(str1[3:])
print(str1)
print(str1[:])
print(str1[::-1])
print(str1[:3])

# indexing
print(str1[7])
print(str1[-3])
# concatination
print(str1+" "+str2)


# multipliy
print(str1*10)

## jumping

str1 = "123456789"
print(str1[::2])
print(str1[1::2])
print(str1[::-2])

Lreetham
etham
Preetham
Preetham
mahteerP
Pre
m
h
Preetham Lreetham
PreethamPreethamPreethamPreethamPreethamPreethamPreethamPreethamPreethamPreetham
13579
2468
97531
1357

In [41]:
## list

list1 = [1,2,3,4,"Zaid", "Preethan"]
list2 = list([5,6,7, "Sameer"]) # = list()

list1[0] = "Python"
list1

['Python', 2, 3, 4, 'Zaid', 'Preethan']

In [44]:
# tuple

tuple1 = (1,2,3,4,5,"Zaid", "Preetham")
tuple1[1] = "pytohn"

TypeError: 'tuple' object does not support item assignment